<!--
	At the 'top level' $parent.type is invalid.
	$parent.type refers to the KEY in the PROPERTIES LIST of the PARENT.

	$parent.module.type IS valid at the top level, and all subdirectories.
	$parent.module.type refers to the MODULE ITSELF.
-->
{{ $parent.module.type }} <br><br>
<div class="tab">
	<li ng-repeat="(k,v) in $parent.module.paramaters">
		{{ k }} :

		<span ng-if="k != 'nest'">
			{{ v }}
		</span>
		<span ng-if="k == 'nest'">
			{{ v[0]["paramaters"] }}

		</span>
	</li>
<div class="tab">

<hr>
